[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/alfie (alfie-chen)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/alfie (alfie-chen)
	label-Verified = -1..+1 group user/alfie (alfie-chen)
	push = group user/alfie (alfie-chen)
	read = group user/alfie (alfie-chen)
	rebase = group user/alfie (alfie-chen)
	removeReviewer = group user/alfie (alfie-chen)
	submit = group user/alfie (alfie-chen)
[access "refs/heads/*"]
	create = group user/alfie (alfie-chen)
	push = +force group user/alfie (alfie-chen)
	pushMerge = group user/alfie (alfie-chen)
	read = group user/alfie (alfie-chen)
[access "refs/tags/*"]
	push = group user/alfie (alfie-chen)
	push = +force group user/alfie (alfie-chen)
